.header{

 
  display: flex;
  justify-content: space-between;
  margin:  50px ;
}

.logo_header {

  height: 68px;
}



.menu {
  height: 68px;
 
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 57px;
  align-items: center;
}

.header a {
color: black;
text-decoration: none;
font-family: Montserrat;
}

header a:hover {

  
  text-decoration: underline;
 

}

